html {
    scroll-behavior: smooth;
}

.carousel-sizing {
    height: border-box;
}

/* control image height */
.card-img-top {
    max-height: 250px;
    overflow:hidden;
}

/* smoother transitions */
.carousel-inner>.carousel-item.next.left,
.carousel-inner>.carousel-item.prev.right {
    transition: all 1s ease;
}

/** HEADING TOP SPACING **/
.products-heading {
    margin-top:40px;
    margin-bottom: 40px;
    text-align: center;
}
.jumbotron-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*.carousel-inner > .item > img,*/
/*.carousel-inner > .item > a > img {*/
/*    max-height: 500px;    !* Set slide height here *!*/
/*}*/
.carousel-item img {
    max-height: 500px; /* input your desired height here */
}
