html {
    scroll-behavior: smooth;
}

.carousel-sizing {
    height: border-box;
}

/* control image height */
.card-img-top {
    max-height: 250px;
    overflow:hidden;
}

/* smoother transitions */
.carousel-inner>.carousel-item.next.left,
.carousel-inner>.carousel-item.prev.right {
    transition: all 1s ease;
}

/** heaging top spacing **/
.products-heading {
    margin-top:40px;
    margin-bottom: 40px;
    text-align: center;
}
.jumbotron-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-deck .card {
    max-width: 250px;
    min-width: 100px;
}

/* make add to cart button align to buttom */
.add-to-cart {
    margin-top: auto;
}
.carousel-caption {
    top: 50%;
}

