html,
#history-tab {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    border-collapse: collapse;
    width: 100%;
}

#history-tab tr:nth-child(even){background-color: white;}

#history-tab tr:hover {background-color: #ddd;}

#history-tab th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: white;
    color: black;
    text-align: center;
}

.history{
    margin: 5% 30% 30% 30%;
    width: 100%;
    text-align:center;"
}


