<!DOCTYPE html>
<html>
<head>
    <!-- head definitions go here -->
</head>
<body>
<!-- the content goes here -->
HIII
</body>
</html>
<!--<!DOCTYPE HTML>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml"-->
<!--      xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->
<!--</head>-->
<!--<body>-->

<!--&lt;!&ndash;/*@thymesVar id="errorMsg" type="String"*/&ndash;&gt;-->
<!--<p th:text="'ERROR ' + ${errorMsg} + '!'" />-->

<!--</body>-->
<!--</html>-->