<!doctype html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/landing.css" />
    <script src="/js/landing.js" defer></script>
    <title>Ecommerce Shop</title>
</head>

<body>


    <!--Start of Nav bar-->
    <nav class="navbar">
        <!-- <div class="navbar-center">
            <img src="./images/logo.svg" alt="logo" />
        </div> -->
        <div class="container">
            <ul class="navbar-left">
              <li><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
            </ul> <!--end navbar-left -->
        
            <ul class="navbar-right">
              <li><a href="#" id="cart"><i class="fa fa-shopping-cart"></i> Cart <span class="badge">3</span></a></li>
            </ul> <!--end navbar-right -->
          </div> <!--end container -->
        </nav>

        <!--Start of Cart-->
        <div class="container">
        <div class="shopping-cart">
<!--                    <span class="nav-icon">-->
<!--                        <div class="cart-items"> 0-->
            <!--Start shopping-cart-header -->
            <div class="shopping-cart-header">
                <i class="fa fa-shopping-cart cart-icon"></i>
                <span id="cart-items" class="badge">3</span>
                <div class="shopping-cart-total">
                    <span class="lighter-text">Total:</span>
                    <span class="main-color-text">$</span>
                </div>
            </div>
            <!--end shopping-cart-header -->
            <table class="show-cart table">

            </table>
            <!-- <ul class="shopping-cart-items">
                <li class="clearfix">
                    <span class="item-name">Sony DSC-RX100M III</span>
                    <span class="item-price">$849.99</span>
                    <span class="item-quantity">Quantity: 01</span>
                </li>
            </ul> -->

            <a href="#" class="button">Checkout</a>
<!--                        </div>-->
<!--                    </span>-->
        </div>
        </div>

        <!--End of Cart-->

<!--        <div class="login-div">-->
<!--            <a class="login" href="/login">Login</a>-->
<!--        </div>-->
    <!-- </nav> -->
    <!--End of Nav bar-->

    <!--Start of Hero-->
    <header class="hero">
        <div class="banner">
            <h1 class="banner-title">
                cat product collection <br>
                <button class="banner-btn">shop now</button>
            </h1>
        </div>
    </header>
    <!--End of Hero-->

    <!--Start of products-->
    <section class="products">
        <div class="section-title">
            <h2>our products</h2>
        </div>
        <div class="products-center">
            <!--single product-->
            <!--End of single product-->
        </div>
    </section>
    <!--End of products-->

</body>

</html>